.header {
    display: flex;
    align-items: center;
    background-color:  black;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #CBCBCB;
}

.header .logo {
    display: flex;
    align-items: center;
    max-height: 130px;
}

.header .title-group {
    display: flex;
    color:#CBCBCB;
}


