<mat-toolbar class="footer">
    <span class="texto">
        Desenvolvido com
        <i class="material-icons v-middle" appRed> <!-- aqui fez o color não pelo css mais sim pela directive
        exemplo de directive de atributo ele é capaz de mexer tanto no comportamento como no style -->
            favorite
        </i>
        por 
    </span>
    <a routerLink="/">
        <img class= "logo" src="assets/imagem/logoa2like.png" alt="logo">
    </a>
</mat-toolbar>


<!-- o * no myfor significa um directive strutural -->