/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red {
    color: #ff7482;
}

.v-middle {
    vertical-align: middle;
}

.msg-success {
    background-color: #28a745;   /* cor do snackBar mensagem de sucesso */
    color: #fff;
}

.msg-error {
    background-color: #ff7482;
    color: #fff;
}
